server {
    listen 80;
    server_name precheck.sbir.org;
    server_tokens off;

    set $proxy http://127.0.0.1:8000;

    location ~ /\.(?!well-known).* { deny all; }
    location ~* /(artisan|composer\.(json|lock)|env|.env.*|.git|server\.php|readme\.md|phpunit\.xml|tests?/|storage/.*) { deny all; }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_pass $proxy;
    }
}